<div class="m-3" style="height: 100vh; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../assets/094.jpg'); background-size: cover;">
  <%= link_to 'retour au Menu', root_path, class: "button"%>
  <table>
    <% Product.order("id DESC").each do |product| %>
      <div class="index-stock">
      <tr>
        <td>n°<%= product.id %> - <%= product.name %> - <%= product.status %></td>
        <td><%= link_to 'Vendu', sold_status_path(product), method: :post, class: "button-sm"%>  <%= link_to 'A vendre', tosell_status_path(product), method: :post, class: "button-ts"%> <%= link_to 'Retourné', return_status_path(product), method: :post, class: "button-return"%> <%= link_to 'X', product_path(product), method: :delete, class: "button-red"%></td>
      </tr>
      </div>
    <% end %>
  </table>
</div>

