<div>
  <%= link_to 'retour au Menu', root_path, class: "btn btn-success"%>
  <ul>
    <% Product.order("id DESC").each do |product| %>
      <li><%= product.id %> - <%= product.name %> - <%= product.status %> <%= link_to 'Vendu', sold_status_path(product), method: :post, class: "btn btn-success"%>  <%= link_to 'A vendre', tosell_status_path(product), method: :post, class: "btn btn-success"%> <%= link_to 'Retourné', return_status_path(product), method: :post, class: "btn btn-success"%> <%= link_to 'X', product_path(product), method: :delete, class: "btn btn-danger"%></li>
      <br>
    <% end %>
  </ul>
</div>

