<h1>Les sélections de <%= @fournisseur.firstname %> <%= @fournisseur.lastname %></h1>
<%= link_to 'Retour au fournisseur', fournisseur_path(@fournisseur), class: "btn btn-alert"%>
<%= link_to 'retour au Menu', root_path, class: "btn btn-success"%>
<br>
<div class="table-selections">
  <table style="border: 1px solid black;">
    <tr>
      <td>Date de la sélection</td>
      <td>Nombre de produits</td>
      <td>Actions disponibles</td>
    </tr>
  <% @fournisseur.selections.each do |selection| %>
    <tr>
      <td><%= selection.date %> </td>
      <td><%= selection.products.count %> produits</td>
      <td>
        <%= link_to 'Voir sa sélection', selection_path(selection), class: "button"%> <%= link_to "Envoyer la proposition", selection_mail_path(selection), class: "button-red" %> <%= link_to 'Supprimer cette sélection', selection_path(selection), method: :delete, class: "button-red "%>
      </td>
    </tr>
  <% end %>
  </table>
</div>
