<h1>Détail de la sélection n°<%= @selection.id %> de <%= @selection.fournisseur.firstname %></h1>
<td><%= link_to "Générer un PDF", selection_path(@selection, :format => :pdf) , :format => :pdf, class: "btn btn-success" %></td>
<%= link_to 'Ajouter un produit', new_selection_product_path(@selection), class: "btn btn-primary"%>
<div class="products_table">
  <table>
    <tr id="product-bg">
      <td>Vêtements</td>
      <td>Marque</td>
      <td>Catégorie</td>
      <td>Taille</td>
      <td>Genre</td>
      <td>Prix HT</td>
      <td>Statut</td>
    </tr>
    <% @selection.products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.brand %></td>
        <td><%= product.category %></td>
        <td><%= product.size %></td>
        <td><%= product.genre %></td>
        <td><%= product.price %>€</td>
        <td><%= product.status %></td>
      </tr>
    <% end %>
  </table>
</div>
