<h1>Détail de la sélection n°<%= @selection.id %> de <%= @selection.fournisseur.firstname %></h1>
<td><%= link_to "Générer un PDF", selection_path(@selection, :format => :pdf) , :format => :pdf, class: "btn btn-success" %></td>
<div>
    <% @selection.products.each do |product| %>
      <table>
        <li><%= product.name %> - <%= product.brand %> - <%= product.size %> - <%= product.price %>€ - <%= product.status %></li>
      </table>
    <% end %>
  </ul>
</div>
