<div>
  <h2>Fiche de <%= @fournisseur.firstname %> <%= @fournisseur.lastname %></h2>
  <p>Coordonnées : <%= @fournisseur.email %>  </p>
  <p>RIB : <%= @fournisseur.rib %></p>
  <p>Code : <%= @fournisseur.code %></p>
  <div>
    <p><%= @selections.count %> sélection(s) - <%= @total %> produit(s)</p>
    <%= link_to 'Ses sélections', selections_path(fournisseur_id: @fournisseur.id), class: "btn btn-primary"%>
  </div>
  <div>
    <%= link_to "Créer une nouvelle sélection de vêtements", selections_path(fournisseur_id: @fournisseur.id), method: :post, class: "btn btn-primary"%>
  </div>
  <div>
    <%= link_to "Retour aux autres fournisseurs", fournisseurs_path, class: "btn btn-success"%>
  </div>
</div>
