<div class="container">
  <div class="row">
    <div class="col-12 col-md-8">
      <h1>Nouveau produit</h1>
      <%= simple_form_for [ @selection, @product ] do |f| %>
        <%= f.input :name, collection: ['Bloomer', 'Bloomer Salopette', 'Blouse', 'Body', 'Chaussures', 'Chaussons', 'Chemise', 'Combinaison', 'Doudoune', 'Ensemble', 'Gilet', 'Haut Manches Longues', 'Jupe', 'Manteau', 'Pantalon', 'Pull', 'Pyjama', 'Robe', 'Salopette', 'Veste'] %>
        <%= f.input :brand, collection: ['10IS', 'Absorba', 'Alice', 'Arsène et les pipelettes', 'Benetton', 'Billieblush', 'Blune', 'Bonpoint', 'Bonton', 'Boutchou', 'Burberry', 'C&A', 'Carrément Beau', 'Catimini', 'CdeC', 'Chipie', 'Cyrillus', 'Dior', 'DPAM', 'Gap', 'Gocco', 'H&M', 'IKKS', 'Isabel Marant', 'Jacadi', 'Kiabi', 'Kickers', 'K-way', 'La Redoute', 'Le Bome', 'Levis', 'Lola Palacios', 'Louis Louise', 'Mango', 'Monoprix', 'Natalys', 'Noukies', 'Obaidi', 'Okaïdi', 'Orchestra', 'Oscar & Valentine', 'Oshkosh', 'Paul Smith', 'Petit Bateau', 'Ralph Lauren', 'Ronron', 'Sergent Major', 'Stella McCartney', 'TAO', 'Tape à l œil', 'Tartine & Chocolat', 'The Little White Company', 'Timberland', 'Vert Baudet', 'Zadig & Voltaire', 'Zara'] %>
        <%= f.input :size, collection: ['0 mois', '1 mois','3 mois','6 mois','9 mois','12 mois','18 mois','2 ans', '3 ans', '4 ans', '5 ans', '6 ans', '7 ans', '8 ans', 'Pointure 19', 'Pointure 20', 'Pointure 21', 'Pointure 22', 'Pointure 23', 'Pointure 24', 'Pointure 25', 'Pointure 26', 'Pointure 27', 'Pointure 28', 'Pointure 29', 'Pointure 30', 'Pointure 32', 'Pointure 32', 'Pointure 33']%>
        <%= f.input :genre, collection: ['Fille', 'Garçon', 'Mixte'] %>
       <p>Prix Graine de mômes (à renseigner en centimes >> 1.00 € = 100)</p>
      <%= f.number_field :price_cents, label: "Prix (en centimes)", placeholder: 0%>
       <div class="form-button mt-2">
        <%= f.submit "Créer le produit", class: 'btn btn-primary' %>
       </div>
       <br>
     <% end %>
    </div>
  </div>
</div>

