<div>
  <h1>Nouveau produit</h1>
  <%= simple_form_for [ @selection, @product ] do |f| %>
    <%= f.input :name, label: 'Nom du vêtement', placeholder: "Body, Robe & Pantalon ..." %>
    <%= f.input :brand, label: 'Marque', placeholder: "Zara, Catimini & Jacadi ..." %>
    <%= f.input :size, label: 'Taille', placeholder: "6 mois, 18 mois, 36 mois..." %>
 <!--    mettre en place une sélection ou des radio buttons -->
    <%= f.input :category, label: 'Type de vêtements', placeholder: "Body, Robe & Pantalon ..." %>
  <p>Prix Graine de mômes</p>
  <%= f.number_field :price_cents, label: "Prix (en centimes)", placeholder: 0%>
   <div class="form-button">
    <%= f.submit "Créer le produit", class: 'btn btn-primary' %>
   </div>
   <br>
 <% end %>

</div>

